.footerCard1{
    display: block;
    float: left;
    margin-right: -15px;
    margin-left: 80px;
    justify-items: left;
}

.footerCard1 h2{
    font-size: 35px;
}

.conDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    margin-top: -10px;
}

.conDetails img{
    margin-right: 25px;
}

.conDetails a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.conDetails a:hover{
    color: yellow;
}


.footerCard2{
    display: flex;
    float: left;
    margin: 50px 10px 50px 240px;
    align-items: center;
    justify-content: center;
}

.footerCard2 img{
    margin-right: 30px;
    width: 150px;
    height: 150px;
}

.footerCard2 h2{
    font-size: 35px;
    font-family: Arial;
    text-align: center;
}

.footerCard2 p{
    font-size: 18px;
    font-family: Arial;
    text-align: center;
}

.footerCard2 div{
    margin-top: 12px;
}

.phone, .envelope, .location{
    font-size: 25px;
    margin-right: 28px;
}

@media (max-width: 1250px){
    .Footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerCard1{
        margin-left: -5px;
    }

    .conDetails {
        margin-bottom: 10px;
    }

    .conDetails a{
        font-size: 15px;
    }

    .footerCard2{
        margin: 35px 20px 0px 0px;
        align-items: center;
        justify-content: center;
    }

    .footerCard2 h2 {
        font-size: 30px;
    }

    .footerCard2 p{
        font-size: 16px;
        margin-top: -10px;
    }

    .footerCard2 img{
        width: 100px;
        height: 100px;
    }
}